/* App.css */

/* Reset geral e fontes */
body, html, #root {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden; /* Evita rolagem horizontal */
  background-color: #f4f6f8;
  color: #333;
}

h2{
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center; 
  font-weight: 500;
  font-style: italic;
}

h3{
  font-size: 12px;
  margin-bottom: 20px;
  text-align: center; 
  font-weight: 700;
}

.app-container {
  padding: 10px 50px;
  max-width: 900px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.logo-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.logo {
  height: 150px;
}

/* Estilo para o container do formulário de cadastro */
.cadastro-container {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cadastro-container h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.cadastro-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cadastro-container label {
  font-size: 1rem;
  color: #555;
  margin-bottom: 5px;
}

.cadastro-container input,
.cadastro-container select {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.cadastro-container input:focus,
.cadastro-container select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.cadastro-container button {
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cadastro-container button:hover {
  background-color: #0056b3;
}

.cadastro-container button:active {
  background-color: #004085;
}

.cadastro-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1 {
  font-size: 26px;
  margin-bottom: 24px;
  text-align: center;
  color: #2c3e50;
}

.intro-text {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 40px;
  text-align: justify;
  color: #555;
}

/* Estilo para a barra de progresso */
.progress-bar {
  width: 100%;
  background-color: #bebebe;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px 0;
  position: relative;
}

.progress {
  height: 20px;
  background-color: #007bff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
  position: relative;
}

.progress-text {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
}

.opcoes-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  }

.rodape-perguntas{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

  /* Estilo para o botão de voltar */
.botao-voltar{
  /* position: fixed; */
  bottom: 20px;
  right: 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botao-voltar:hover {
  background-color: #d32f2f;
}


.botao-resposta {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
  transition: background-color 0.2s;
  color: #000;
}

.botao-resposta:hover {
  background-color: #3b6d9c;
  color: #fff;
}

/* impedir que o navegador coloque borda na opção selecionada */
.botao-resposta:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #ccc;  
}

.botao-resposta:active {
  outline: none;
  box-shadow: none;
}

.resumo ul {
  list-style: none;
  padding: 0;
}

.resumo li {
  margin-bottom: 20px;
  background-color: #fefefe;
  padding: 18px;
  border-radius: 10px;
  border-left: 4px solid #4caf50;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
.container_botao_enviar{
  display: flex;
  justify-content: center;
}

.botao-enviar {
  margin-top: 30px;
  padding: 14px 28px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  justify-content: center;
}

.botao-enviar:hover {
  background-color: #43a047;
}

/* Estilo para o botão de refazer pesquisa */
.botao-refazer {
  margin-left: 10px;
  margin-top: 30px;
  padding: 14px 28px;
  font-size: 16px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.botao-refazer:hover {
  background-color: #d32f2f;
}


.sucesso {
  color: green;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
}

/* RESPONSIVIDADE */
/*para telas menores (mobile) */
@media (max-width: 768px) {
  
  .app-container {
    padding: 5vw; /* Reduz o padding para telas menores */
    max-width: 100vw; /* Garante que o container ocupe toda a largura */
    margin: 3vw;
  }

  .logo-container {
    flex-direction: column; /* Alinha os elementos verticalmente */
    gap: 10px; /* Reduz o espaçamento entre os elementos */
  }

  .logo {
    height: 25vw; /* Ajusta a altura proporcionalmente à largura da tela */
    width: auto; /* Mantém a proporção da largura */
    object-fit: contain; /* Garante que a imagem se ajuste sem distorção */
  }

  h1 {
    font-size: clamp(1.2rem, 3vw, 2rem); /* Ajusta dinamicamente o tamanho do título */
    text-align: center; /* Centraliza o texto */
  }

  .perguntas-container h2{
    font-size: clamp(1rem, 3vw, 2rem); /* Ajusta dinamicamente o tamanho do subtítulo */
    text-align: center;
    display: none;;
  }

  .mobile{
    display: none; /* Esconde o título maior em telas menores */
  }

  h3 {
    font-size: clamp(0.7rem, 2.5vw, 1.5rem); /* Ajusta dinamicamente o tamanho do subtítulo menor */
    margin-bottom: 0;
  }

  .cadastro-container {
    padding: 15px; /* Reduz o padding do formulário */
    margin: 10px auto; /* Ajusta as margens */
  }

  .cadastro-container h2 {
    font-size: 1.5rem; /* Ajusta o tamanho do título */
    font-weight: 600; /* Ajusta o peso da fonte */
    margin-top: 0px;
    margin-bottom: 15px; /* Reduz a margem inferior */
  
  }

  .cadastro-container form {
    gap: 10px; /* Reduz o espaçamento entre os campos */
  }

  .cadastro-container input,
  .cadastro-container select {
    font-size: 0.9rem; /* Ajusta o tamanho da fonte dos campos */
    padding: 8px; /* Reduz o padding dos campos */
  }
  .perguntas-container .logo,
  .perguntas-container h1,
  .perguntas-container h2,
  .perguntas-container h3 {
    display: none;
  }

  .botao-enviar,
  .botao-refazer,
  .botao-voltar {
    font-size: 0.9rem; /* Ajusta o tamanho da fonte dos botões */
    padding: 10px 15px; /* Reduz o padding dos botões */
  }

  .progress-bar{
    height: 20px; /* Ajusta a altura da barra de progresso */
  }

  .progress {
    font-size: clamp(0.8rem, 1.5vw, 1rem); /* Ajusta o tamanho do texto na barra de progresso */
  }

  .opcoes-container {
    gap: 8px; /* Reduz o espaçamento entre as opções */
  }

  .rodape-perguntas {
    
    gap: 10px; /* Adiciona espaçamento entre os elementos */
  }

  .resumo ul {
    padding-left: 20px; /* Ajusta o recuo da lista */
  }
}
